In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, KNNImputer, IterativeImputer
from sklearn.preprocessing import LabelEncoder

## Load data

In [613]:
for file_name in os.listdir("files"):
    if file_name.endswith('.csv'):
        file_path = os.path.join("files", file_name)

        df_name = os.path.splitext(file_name)[0]
        globals()[df_name] = pd.read_csv(file_path)

## SANITY CHECK

In [9]:
#NO MISTAKE IN RETIREES CLASSIFICATION ?

ids_1 = set(learn_dataset_retired_pension["PRIMARY_KEY"])
ids_2 = set(learn_dataset_retired_jobs["PRIMARY_KEY"])
ids_3 = set(learn_dataset_retired_former["PRIMARY_KEY"])

# Step 2: Check the equality of the IDs between datasets
def check_sanity(ids_a, ids_b, dataset_a, dataset_b):
    if ids_a == ids_b:
        print(f"Sanity check passed: {dataset_a} and {dataset_b} contain the same individuals.")
    else:
        print(f"Sanity check failed: There are differences in the individuals from {dataset_a} and {dataset_b}")

check_sanity(ids_1, ids_2, "Dataset 1", "Dataset 2")
check_sanity(ids_1, ids_3, "Dataset 1", "Dataset 3")
check_sanity(ids_2, ids_3, "Dataset 2", "Dataset 3")

not_common_ids_1 = ids_1.symmetric_difference(ids_3)
print(f"Number of people that are not common to dataset 1 and 3: {len(not_common_ids_1)}")

not_common_ids_2 = ids_2.symmetric_difference(ids_3)
print(f"Number of people that are not common to dataset 2 and 3: {len(not_common_ids_2)}")

print("These individuals are in dataset3 but not in dataset1:", ids_3 - ids_1)
print("These individuals are in dataset3 but not in dataset2:", ids_3 - ids_2)

#We are OK, it just that the the dataset 3 has more data.

Sanity check passed: Dataset 1 and Dataset 2 contain the same individuals.
Sanity check failed: There are differences in the individuals from Dataset 1 and Dataset 3
Sanity check failed: There are differences in the individuals from Dataset 2 and Dataset 3
Number of people that are not common to dataset 1 and 3: 2083
Number of people that are not common to dataset 2 and 3: 2083
These individuals are in dataset3 but not in dataset1: {16389, 40966, 8202, 32783, 32784, 8207, 65556, 40989, 40996, 8231, 24621, 8238, 16438, 90170, 32835, 24656, 41044, 41047, 41051, 82011, 32862, 41054, 41056, 41058, 41065, 41067, 73841, 73842, 41078, 90232, 8318, 24707, 90245, 138, 90253, 16528, 49318, 82092, 8369, 24754, 90293, 16571, 49340, 82111, 195, 204, 210, 65749, 57559, 41178, 98525, 49386, 65772, 57589, 98550, 24833, 262, 263, 82184, 65803, 49421, 82189, 82192, 8467, 82197, 310, 82237, 8511, 33090, 74051, 16713, 57680, 24918, 57695, 8544, 33122, 74085, 358, 16743, 362, 41323, 57709, 90488, 90489, 57722, 16775, 16783, 74129, 65938, 57757, 417, 82338, 24999, 426, 82349, 430, 57780, 437, 98742, 57793, 57805, 16847, 33232, 465, 57811, 82388, 82391, 41432, 57816, 66012, 82396, 49630, 57822, 25063, 82408, 82411, 33262, 82417, 41459, 16884, 41462, 82423, 98810, 82430, 57864, 41481, 82447, 57872, 82450, 57877, 90653, 82462, 545, 49700, 33317, 16933, 25129, 49706, 82475, 16943, 25136, 41522, 16948, 16954, 25151, 577, 16962, 16972, 82510, 66134, 82523, 57951, 33377, 16995, 33381, 25189, 66151, 98921, 82545, 8825, 66173, 17025, 17034, 652, 17040, 25234, 17057, 49825, 680, 33449, 25268, 711, 49863, 90824, 41674, 99019, 25290, 82638, 8910, 74450, 8917, 58070, 33495, 731, 82657, 25319, 17128, 90857, 82669, 82670, 58100, 8959, 41727, 770, 49942, 25371, 41769, 82730, 17196, 58157, 17198, 9008, 41778, 90933, 33593, 25403, 66379, 99151, 50004, 82773, 74583, 9057, 33634, 82786, 90983, 17271, 33660, 82813, 895, 9087, 91012, 74631, 58247, 91017, 99227, 58275, 939, 947, 41911, 99256, 9157, 82886, 82887, 17357, 41940, 17365, 41947, 17371, 9181, 82908, 66527, 9189, 91111, 58344, 74730, 17391, 33783, 33785, 33788, 58369, 50182, 58380, 9230, 74767, 74774, 82969, 74781, 33829, 42030, 1072, 66610, 42039, 74807, 83003, 58435, 42064, 42067, 9300, 66653, 74850, 42094, 99439, 25712, 83058, 74869, 42107, 9351, 58505, 9354, 99467, 58513, 1170, 9372, 50339, 58539, 83121, 42164, 83126, 1209, 1220, 1221, 74949, 25803, 50394, 83165, 99553, 17634, 58593, 74982, 42216, 58601, 17645, 50415, 83184, 25855, 91392, 66817, 58626, 42246, 17672, 25866, 42253, 42263, 42265, 42267, 99616, 42272, 83235, 42276, 50468, 75056, 34097, 1333, 66869, 83254, 9529, 66880, 1347, 9545, 83278, 66897, 25937, 91473, 75095, 1370, 91488, 9570, 66916, 17764, 99688, 1389, 34163, 1398, 9594, 50557, 1407, 42375, 58762, 17805, 34194, 34195, 66964, 1429, 50580, 58771, 58779, 50591, 34214, 42407, 75176, 75184, 58802, 9651, 58809, 58811, 17858, 1478, 34248, 58826, 17871, 34259, 26067, 91609, 67036, 1506, 75235, 83431, 91625, 34282, 42479, 1538, 67084, 83468, 58900, 9752, 75292, 17949, 67112, 50730, 9771, 17965, 67122, 83512, 34363, 91707, 17988, 42566, 75334, 34376, 17994, 42571, 83530, 1615, 50768, 18000, 75350, 50775, 42595, 42599, 91762, 26233, 42628, 83592, 1675, 99985, 18067, 67231, 67233, 26282, 83629, 1716, 67260, 59070, 34498, 1740, 42704, 42714, 34527, 83680, 42721, 91872, 34533, 1771, 67311, 42740, 9974, 59129, 18171, 50939, 34561, 18178, 42756, 1802, 26379, 83725, 83730, 18195, 67355, 34593, 34594, 10020, 83749, 75561, 50985, 50987, 34625, 18244, 26437, 75592, 42836, 34645, 51028, 59222, 83801, 51037, 1889, 75619, 67429, 34672, 26489, 59260, 18307, 10116, 59273, 83851, 26508, 59278, 92046, 1939, 18333, 51106, 59306, 34743, 67513, 18365, 1982, 34750, 59328, 1986, 83914, 42955, 83918, 67546, 92123, 59359, 83938, 83940, 34790, 75752, 42990, 59378, 83955, 42998, 59383, 18426, 2043, 18427, 34814, 67583, 83971, 2057, 83978, 92176, 2065, 59410, 43032, 18457, 92192, 34855, 10279, 84013, 18486, 92215, 26683, 59453, 92223, 59456, 34887, 43079, 18505, 43083, 43085, 34899, 34905, 59482, 26716, 34911, 84065, 18536, 59500, 2158, 2160, 75889, 84082, 43123, 59506, 10360, 59519, 10369, 10374, 67722, 2187, 34956, 10378, 51341, 59537, 59544, 18585, 67739, 10397, 92317, 43173, 51365, 2220, 51374, 26802, 26804, 59575, 43194, 67778, 92358, 59591, 84168, 35020, 2254, 2263, 43230, 84192, 43236, 84197, 51430, 84202, 84207, 59631, 51445, 26870, 35066, 67835, 84224, 2305, 2308, 18692, 35079, 67847, 43274, 59660, 2325, 2328, 35097, 2330, 84248, 59688, 10541, 18737, 51507, 2357, 35132, 18753, 18755, 35148, 10572, 67920, 35162, 2395, 59738, 2400, 18786, 2403, 35172, 92516, 35178, 43378, 2419, 18803, 35189, 92536, 18814, 35200, 59776, 2434, 10630, 84358, 2440, 2443, 10638, 92569, 10656, 84398, 43440, 18868, 10679, 2490, 18875, 2497, 10694, 35274, 10701, 84429, 2512, 68052, 51669, 2518, 35286, 2523, 27101, 59875, 68068, 84453, 35303, 59880, 43498, 10737, 2553, 10750, 27138, 18949, 68102, 10771, 35348, 27164, 68125, 51744, 51747, 2608, 84530, 84535, 68152, 43579, 19004, 35391, 43587, 84549, 59977, 43597, 76371, 2651, 68189, 19039, 84577, 10851, 76387, 92775, 84584, 68202, 35438, 2671, 51822, 19059, 27252, 92792, 84607, 92800, 2690, 84611, 10889, 27277, 10894, 84630, 2720, 92833, 68269, 10931, 43710, 84670, 27332, 68299, 43724, 27341, 68308, 35541, 27350, 84695, 19161, 43738, 43745, 10978, 19169, 43750, 51943, 10987, 92908, 19182, 19184, 68337, 10996, 68342, 51958, 2811, 92925, 68363, 11020, 19215, 27414, 11045, 68390, 52012, 11055, 2865, 27443, 76596, 43830, 2874, 43834, 68415, 11072, 68417, 84802, 27461, 2907, 60251, 60253, 11103, 2920, 93032, 68458, 2927, 19315, 60277, 43898, 60286, 19332, 27526, 27537, 11158, 2971, 60323, 27559, 19388, 93123, 3015, 84937, 3018, 93136, 27602, 43990, 52184, 52185, 3038, 84960, 44006, 19433, 19438, 60399, 68595, 60405, 52217, 60413, 93182, 68607, 11264, 68620, 27663, 52243, 52249, 52250, 35870, 35871, 44064, 60446, 85027, 76836, 85034, 3116, 27695, 60465, 52279, 27704, 93241, 93246, 44102, 68682, 68692, 44117, 44118, 35928, 68699, 35932, 35933, 3177, 60523, 44140, 11388, 35969, 44165, 76934, 52363, 60556, 76941, 11409, 85144, 35997, 44189, 76965, 11434, 68780, 76974, 60599, 85176, 27833, 27834, 60600, 11457, 68809, 85194, 93394, 19670, 85213, 36066, 93410, 3301, 44266, 60652, 44269, 3313, 60663, 11513, 3323, 68861, 27901, 36096, 3329, 44295, 3341, 27929, 44317, 19744, 3364, 3368, 77102, 11567, 68912, 44336, 60720, 60723, 44341, 19775, 60741, 85318, 11591, 19784, 52555, 36175, 44370, 77148, 85345, 36195, 44388, 93542, 85353, 36202, 52587, 11631, 93551, 28019, 77172, 19828, 11642, 60799, 28034, 52611, 60802, 93573, 52625, 60820, 60823, 36250, 28058, 28060, 3485, 11679, 36271, 69039, 11696, 52658, 11701, 11702, 19896, 3523, 93639, 52681, 28108, 69069, 3551, 11746, 60902, 11751, 85482, 11755, 85486, 36335, 93678, 44535, 19960, 69121, 77314, 28161, 85508, 36359, 69128, 77322, 85527, 19992, 60952, 60953, 77339, 3613, 11805, 36388, 28200, 77354, 36395, 44597, 3638, 44599, 85558, 60987, 20032, 85570, 69198, 36433, 77396, 3669, 28253, 11874, 44644, 28267, 61041, 85621, 3704, 52863, 61055, 20108, 3737, 36506, 44711, 11945, 44713, 44715, 3756, 11951, 20147, 52915, 3767, 77504, 69326, 52946, 11994, 20190, 36575, 20192, 3812, 3813, 36590, 93936, 85746, 69365, 3830, 44789, 69370, 12029, 12030, 20221, 69378, 3843, 77575, 85773, 20240, 28432, 85779, 28436, 85784, 12061, 20263, 85803, 36658, 69427, 20290, 12099, 20294, 12110, 85842, 44885, 61276, 28516, 44901, 12134, 20328, 53097, 69483, 3948, 53103, 28535, 69500, 36746, 85898, 85901, 69520, 44950, 85913, 69538, 69540, 36773, 44967, 20396, 85933, 4016, 4018, 20403, 77752, 4032, 45000, 28617, 85962, 61385, 53211, 28635, 20445, 61405, 85986, 28644, 69605, 85989, 12263, 12266, 69611, 4086, 86007, 20473, 45053, 36861, 45055, 20489, 86028, 94222, 45079, 86043, 28704, 77861, 69670, 12331, 53293, 69682, 53303, 45112, 12345, 45116, 94273, 36934, 36935, 4170, 36945, 4179, 45144, 12378, 4189, 36960, 53348, 4198, 12390, 77927, 4202, 45168, 45169, 86131, 20596, 45174, 4216, 12411, 4220, 69764, 77975, 86169, 45212, 4259, 37029, 20657, 28853, 45242, 45244, 86205, 86206, 20671, 45249, 4291, 37063, 12487, 28871, 86218, 37074, 4310, 69861, 4333, 69872, 94449, 45301, 78084, 20742, 61705, 86283, 45328, 20752, 12564, 28950, 86298, 45348, 4389, 94504, 37161, 4403, 45367, 94519, 45369, 94521, 20795, 61758, 78143, 4419, 12621, 45405, 53601, 29026, 61799, 86382, 4470, 45440, 86407, 45452, 12690, 86420, 12699, 37279, 37297, 53681, 12736, 37318, 94666, 4559, 20947, 53717, 37338, 29146, 12774, 12778, 4588, 20973, 94708, 12800, 12803, 4613, 45577, 70154, 21007, 53775, 61970, 37396, 12821, 70176, 12834, 70185, 45612, 37422, 21038, 45618, 86581, 4663, 4665, 4669, 12868, 12870, 86598, 53836, 4689, 86609, 53844, 37466, 4700, 86620, 12905, 62058, 62064, 21106, 53887, 37505, 12930, 4749, 37521, 86676, 4769, 4778, 86707, 86709, 37559, 21175, 45757, 12991, 37570, 21191, 21192, 21193, 37583, 29394, 21203, 13021, 13026, 13028, 13033, 37618, 86774, 54009, 86778, 29435, 37630, 70403, 13064, 13067, 86796, 13071, 21263, 4886, 13080, 37657, 62235, 62236, 4893, 95012, 4912, 13105, 13106, 37683, 37684, 29490, 21328, 45905, 4968, 78697, 54121, 21356, 29549, 95085, 86895, 29551, 86898, 86915, 13208, 5017, 86939, 13224, 54192, 54199, 70592, 86976, 29634, 62402, 86982, 86984, 86996, 37856, 87008, 29664, 87015, 70632, 13293, 87024, 54258, 46067, 29684, 21496, 5113, 54270, 78849, 21506, 87042, 13316, 95252, 5143, 46104, 29722, 87069, 29726, 87071, 5155, 70694, 5163, 62508, 87086, 21556, 70709, 62520, 5184, 13378, 46147, 21572, 21574, 87116, 54361, 70748, 21597, 21598, 29790, 87140, 21605, 54375, 70774, 46208, 70789, 21639, 54426, 38047, 70815, 46243, 21684, 29882, 95422, 62655, 70849, 87237, 29895, 21705, 79054, 29905, 54484, 5333, 46295, 46298, 54497, 21731, 46309, 87273, 79102, 87302, 13576, 46345, 87314, 46355, 62739, 95508, 70942, 87327, 38176, 70949, 70951, 29993, 87339, 13614, 62770, 87351, 87355, 79165, 13634, 21828, 21829, 21831, 21835, 46415, 5459, 87382, 5464, 54616, 62811, 46428, 21852, 5470, 30046, 95582, 13667, 30056, 13679, 87408, 30065, 30074, 79232, 46467, 21891, 38281, 5519, 95631, 5521, 5523, 13718, 30105, 46490, 38301, 30116, 71077, 62885, 30126, 79282, 30130, 95666, 95668, 87480, 30140, 62908, 13763, 87492, 87495, 5581, 46543, 30159, 5600, 87520, 87521, 54756, 5606, 5608, 21993, 30184, 46572, 46574, 71152, 22003, 87545, 71162, 87547, 30213, 87559, 13833, 95753, 54795, 22029, 13848, 13854, 46623, 46631, 63018, 5677, 87601, 71219, 30261, 22075, 79420, 5695, 22080, 30273, 38468, 87624, 63048, 38477, 30288, 63058, 46675, 46677, 13911, 13914, 54878, 87647, 87652, 22124, 87662, 5745, 46707, 46709, 13950, 79492, 13968, 63134, 13985, 22177, 13988, 22181, 87716, 71335, 87724, 22189, 22191, 54962, 95926, 54973, 95933, 22216, 87752, 87757, 30413, 22224, 14039, 87767, 55002, 87771, 55009, 46818, 87783, 30445, 87791, 46841, 55033, 30461, 87811, 30470, 22282, 22283, 87821, 5902, 55054, 79636, 22299, 79647, 87839, 55075, 38692, 46899, 30517, 71493, 5959, 38729, 14160, 46939, 46940, 30556, 87904, 79715, 55145, 38769, 30586, 38784, 96128, 79746, 22402, 22404, 6030, 14228, 71575, 30617, 47005, 87980, 30640, 47042, 14276, 71621, 6086, 79818, 55247, 47058, 71644, 30687, 14309, 6117, 14312, 38890, 6124, 14317, 47086, 79854, 55278, 22512, 63474, 55283, 22519, 14334, 22526, 6150, 14346, 30735, 88081, 63506, 88083, 47126, 88086, 88088, 71707, 96284, 6173, 22564, 30767, 63538, 55347, 55353, 30781, 30783, 6209, 71746, 38982, 88136, 6217, 6224, 22610, 71764, 55381, 55383, 71769, 6245, 14438, 30827, 88173, 30838, 6267, 30843, 6276, 47236, 22661, 39047, 22668, 14484, 47252, 55446, 14505, 55468, 39085, 47278, 14513, 80049, 22705, 63666, 6341, 14550, 55518, 30943, 71906, 47330, 30946, 39161, 47355, 71932, 47367, 14603, 22797, 47374, 47378, 55571, 30997, 55579, 88354, 71973, 31027, 47431, 22867, 14680, 31064, 47452, 88413, 63838, 31072, 6499, 47459, 96613, 47477, 47479, 6524, 47484, 14717, 96637, 96641, 22929, 31130, 6556, 14750, 6560, 14753, 63905, 72109, 88497, 39353, 47551, 55745, 72133, 6602, 80330, 31183, 47578, 6629, 6632, 88554, 23020, 14829, 14831, 31215, 63985, 39417, 14843, 63995, 47614, 23041, 14850, 88580, 88581, 88584, 72201, 6679, 64025, 14875, 47651, 64041, 39469, 39470, 14893, 80430, 80435, 31290, 47678, 14922, 47697, 88668, 80478, 6760, 6763, 14959, 55921, 96883, 6776, 47737, 47738, 88699, 72317, 23166, 64126, 72320, 80512, 31360, 80517, 72331, 23188, 80533, 6813, 15012, 72358, 55974, 47787, 6829, 80563, 72375, 23225, 64187, 64189, 6849, 23237, 15047, 64204, 80589, 80592, 64209, 6866, 96977, 6871, 88797, 15071, 39651, 72424, 15092, 64245, 39677, 31485, 56064, 47880, 47883, 6928, 88849, 39698, 31506, 31508, 56092, 64287, 31520, 23329, 15139, 64292, 47910, 31530, 6957, 39728, 6961, 23344, 31540, 97079, 64317, 47935, 47936, 80703, 80706, 15179, 80715, 6990, 23374, 47952, 80722, 31571, 7000, 15193, 47963, 80741, 15208, 80744, 15210, 31601, 88950, 47991, 31607, 7033, 64377, 7036, 56190, 39809, 64390, 7047, 80776, 80790, 80791, 56223, 48039, 48043, 80813, 89005, 72628, 64436, 7096, 56248, 39881, 15306, 48074, 89035, 15310, 31699, 80855, 64480, 89062, 39920, 15345, 48113, 56304, 80885, 31737, 7170, 31746, 80905, 15373, 97294, 15384, 31768, 23583, 15392, 89123, 15396, 31789, 72753, 15409, 89137, 15414, 15417, 89150, 31807, 80963, 23623, 31815, 23632, 89168, 15442, 64598, 23656, 15468, 40048, 48241, 64626, 56447, 40065, 48261, 81031, 64654, 31887, 56466, 7322, 40090, 89260, 56493, 48314, 15547, 31935, 89287, 40137, 97492, 64728, 15589, 15598, 56564, 31993, 48380, 72962, 15618, 97554, 7447, 72984, 23834, 7467, 15659, 81195, 23854, 81204, 15669, 15671, 48449, 40258, 64833, 15688, 81229, 73039, 15700, 56663, 23898, 15707, 73054, 64865, 81250, 15723, 40311, 89465, 32122, 15739, 64893, 81278, 81283, 89475, 40325, 32135, 40328, 15752, 15754, 73099, 32139, 15765, 15775, 15779, 89511, 15785, 48554, 40370, 7609, 15801, 56764, 40385, 15810, 7620, 24008, 56777, 40396, 24051, 7680, 81416, 81422, 40471, 15899, 32284, 32295, 32300, 15919, 89647, 40503, 40504, 15928, 7741, 89661, 15935, 81480, 15946, 81490, 73311, 15970, 24164, 15978, 97898, 73327, 7796, 81530, 32381, 16001, 81537, 16005, 16008, 7817, 16012, 48781, 81552, 65176, 16029, 16035, 89766, 73383, 57003, 16045, 57011, 65223, 32469, 16100, 98022, 98023, 48872, 24304, 57072, 57073, 89844, 32506, 7938, 65289, 32526, 73492, 24340, 40727, 32535, 57113, 65316, 98094, 81715, 32569, 40766, 89918, 16196, 65356, 16206, 24404, 57173, 57179, 40812, 8046, 73599, 40836, 8070, 98184, 16271, 32660, 16277, 24470, 98207, 65449, 24490, 49104, 73681, 90064, 16343, 40921, 16348, 40929, 40933, 40934, 81900, 49143, 40957, 81919}

## Simplification of categories

In [615]:
# sports
learn_dataset_sport = pd.merge(learn_dataset_sport, code_Sports, left_on="Sports", right_on="Code")
learn_dataset_sport["Sports_Category"] = learn_dataset_sport["Categorie"]
learn_sports = learn_dataset_sport[["PRIMARY_KEY", "Sports_Category"]]

# departments into regions
def merge_and_extract_region(df, merge_column, region_column_name):
    df = pd.merge(df, departments, left_on=merge_column, right_on="DEP")
    df[region_column_name] = df["REG"]
    df.drop(["Nom du département", "REG", "DEP", merge_column], axis=1, inplace=True)
    return df


learn_dataset_job = merge_and_extract_region(
    learn_dataset_job, merge_column="JOB_DEP", region_column_name="REG_JOB"
)

learn_dataset_retired_jobs = merge_and_extract_region(
    learn_dataset_retired_jobs, merge_column="JOB_DEP", region_column_name="REG_JOB"
)

learn_dataset_retired_jobs = merge_and_extract_region(
    learn_dataset_retired_jobs, merge_column="FORMER_DEP", region_column_name="REG_FORMER"
)

In [617]:
#Economic sector into fewer categories (and numeric instead of object/string)
def sector_mapping(nace_code):
    if nace_code == "AZ":  
        return "Agriculture, forestry and fishing)"
    elif "BZ" <= nace_code <= "EZ":
        return "Manufacturing, mining and quarrying and other industrial activities"
    elif nace_code == "FZ": 
        return "Construction"
    elif "GZ" <= nace_code <= "IZ":  
        return "Wholesale and retail trade, transportation and storage, accommodation and food service activities"
    elif "JA" <= nace_code <= "JC":
        return "Information and communication"
    elif nace_code == "KZ": 
        return "Financial and insurance activities"
    elif nace_code == "LZ": 
        return "Real estate activities"
    elif "MA" <= nace_code <= "NZ":
        return "Professional, scientific, technical, administrative and support service activities"
    elif "OZ" <= nace_code <= "QB":
        return "Public administration and defence, education, human health and social work activities"
    elif "RZ" <= nace_code <= "UZ":
        return "Other services activities"
    else:
        return "Unknown Sector"

code_Economic_sector["Nomenclature"] = code_Economic_sector["Code"].map(sector_mapping)
code_Economic_sector["Economic_sector_num"] = pd.factorize(code_Economic_sector["Nomenclature"])[0] + 1

#code_emp_contract["emp_contract_num"] = pd.factorize(code_emp_contract["Code"])[0] + 1
code_HIGHEST_CREDENTIAL["HIGHEST_CREDENTIAL_num"] = pd.factorize(code_HIGHEST_CREDENTIAL["Code"])[0] + 1
code_act["act_num"] = pd.factorize(code_act["Code"])[0] + 1

#learn_dataset_emp_contract = pd.merge(learn_dataset_emp_contract, code_emp_contract, left_on="emp_contract",  right_on="Code")
#learn_dataset_emp_contract.drop(["Code", "Libellé"], axis=1, inplace=True)
#replace this with one-hot-encoding

## Merging

In [620]:
learn_data = learn_dataset
learn_data = learn_data[['target'] + [col for col in learn_data.columns if col != 'target']]

learn_data = pd.merge(learn_data, code_act, left_on="act", right_on="Code", how="left")
learn_data.drop(["Code", "Libellé"], axis=1, inplace=True)
learn_data = pd.merge(learn_data, code_HIGHEST_CREDENTIAL, left_on="HIGHEST_CREDENTIAL", right_on="Code", how="left")
learn_data.drop(["Code", "Libellé", "HIGHEST_CREDENTIAL"], axis=1, inplace=True)

learn_data = pd.merge(learn_data, city_pop, on="INSEE_CODE", how="left")
learn_data = pd.merge(learn_data, city_loc, on="INSEE_CODE", how="left")

In [622]:
learn_dfs = [learn_dataset_emp_contract, learn_dataset_job, learn_dataset_retired_former, learn_dataset_retired_jobs, learn_dataset_retired_pension, learn_sports]

for df in learn_dfs:
    learn_data = pd.merge(learn_data, df, on="PRIMARY_KEY", how="outer")

In [624]:
def combine_columns(col_x, col_y):
    return col_x.fillna(col_y) if col_y is not None else col_x

for column in learn_data.columns:
    if column.endswith('_x'):
        base_column = column[:-2]  # Remove `_x` suffix
        y_column = base_column + '_y'
        if y_column in learn_data.columns:
            # Combine the columns
            learn_data[base_column] = combine_columns(learn_data[column], learn_data[y_column])
            # Drop the original `_x` and `_y` columns
            learn_data = learn_data.drop(columns=[column, y_column])

## Formatting

In [627]:
def household_num(value):
    parts = value.split('|')  # Split the value by '|'
    if parts[1] in {'1', '2', '3'}:  # For M|1|-- to M|3|--
        return int(parts[1])
    elif parts[1] == '4':  # For M|4|1 to M|4|4
        return 4 + (int(parts[2]) - 1)  # 4 + (1-1), 4 + (2-1), etc.
    return None  # Handle unexpected cases gracefully

code_HOUSEHOLD_TYPE['HOUSEHOLD_TYPE_num'] = code_HOUSEHOLD_TYPE['Code'].apply(household_num)
learn_data['HOUSEHOLD_TYPE'] = learn_data['HOUSEHOLD_TYPE'].apply(household_num)

In [629]:
learn_data["JOB_42_og"] = learn_data["JOB_42"]
learn_data["JOB_42"] = learn_data["JOB_42"].str.extract(r'csp_(\d+)_')[0].astype(int)
learn_data["FORMER_JOB_42"] = learn_data["FORMER_JOB_42"].str.extract(r'csp_(\d+)_')[0].astype("Int64")
learn_data["employee_count"] = learn_data["employee_count"].str.extract(r'tr_(\d)')[0].astype("Int64")
learn_data["Employer_category"] = learn_data["Employer_category"].str.extract(r'ct_(\d)')[0].astype("Int64")

learn_data = pd.merge(learn_data, code_Economic_sector, left_on="Economic_sector", right_on="Code", how="left")

learn_data = pd.merge(learn_data, code_work_description_map, left_on="work_description", right_on="N3", how="left")
learn_data.drop(["work_description", "N3", "N2"], axis=1, inplace=True)
learn_data["N1"] = learn_data["N1"].str.extract(r'csp_(\d)')[0].astype("Int64")
learn_data.rename(columns={"N1": "work_description"}, inplace=True)

learn_data["emp_contract"] = combine_columns(learn_data["emp_contract"], learn_data["former_emp_contract"])
learn_data["Pay"] = combine_columns(learn_data["Pay"], learn_data["RETIREMENT_PAY"])
#learn_data['is_retired'] = (learn_data['JOB_42'] == 7).astype(int)
#learn_data['is_unemployed'] = (learn_data['act'].str.startswith('TACT2_') & (learn_data['act'] != 'TACT2_1')).astype(int)
#learn_data['is_unemployed'] = (learn_data['act'] == 'TACT1_2').astype(int)

In [630]:
def categorize_retirement_age():
    global learn_data  # Modify the global learn_data DataFrame
    
    # Ensure the retirement_age column is numeric
    learn_data['retirement_age'] = pd.to_numeric(learn_data['retirement_age'], errors='coerce')
    
    # Define the bins and corresponding labels
    bins = [0, 57, 60, 61, 63, 65, float('inf')]  # Specify edges for the ranges
    labels = ['<57', '57-59', '60', '61-62', '63-64', '65+']  # Labels for ranges

    # Initial categorization with pd.cut
    learn_data['retirement_age_cat'] = pd.cut(
        learn_data['retirement_age'], 
        bins=bins, 
        labels=labels, 
        right=False,  # Left-closed intervals
        include_lowest=True
    )


    # Ensure missing values in retirement_age_cat are handled properly
    learn_data['retirement_age_cat'] = learn_data['retirement_age_cat'].astype(object)  # Avoid ambiguity with NA
    
    # Handle exact matches for 60 and 65
    learn_data.loc[learn_data['retirement_age'] == 60, 'retirement_age_cat'] = '60'

# Call the function
categorize_retirement_age()

In [631]:
# types
learn_data["sex"] = pd.factorize(learn_data["sex"])[0]
learn_data["studying"] = learn_data["studying"].astype("int64")
#or learn_data["Sports_Category"] = pd.to_numeric(learn_data["Sports_Category"], errors='coerce').astype("Int64")
learn_data["Sports_Category"] = learn_data["Sports_Category"].fillna(0).astype("int64")
learn_data["REG_JOB"] = pd.to_numeric(learn_data["REG_JOB"], errors='coerce').astype('Int64')
learn_data["REG_FORMER"] = pd.to_numeric(learn_data["REG_FORMER"], errors='coerce').astype('Int64')
learn_data["retirement_age"] = pd.to_numeric(learn_data["retirement_age"], errors='coerce').astype('Int64')
learn_data["WORKING_HOURS"] = pd.to_numeric(learn_data["WORKING_HOURS"], errors='coerce').astype('Int64')
learn_data["Economic_sector_num"] = pd.to_numeric(learn_data["Economic_sector_num"], errors='coerce').astype('Int64')
learn_data["Pay"] = pd.to_numeric(learn_data["Pay"], errors='coerce').astype('Int64')

In [635]:
def replace_na_with_category(column_name):
    global learn_data  # Ensures we modify the global learn_data directly

    # Convert the column to categorical
    learn_data[column_name] = learn_data[column_name].astype('category')
    
    # Define categories to add
    additional_categories = ['Unemployed', 'Retired_Missing', 'Employed_Missing']
    
    # Add the specified categories
    learn_data[column_name] = learn_data[column_name].cat.add_categories(additional_categories)
    
    learn_data.loc[(learn_data[column_name].isna()) & (learn_data['JOB_42'] == 7), column_name] = 'Retired_Missing'
    learn_data.loc[(learn_data[column_name].isna()) & (learn_data['act_num'] == 1), column_name] = 'Employed_Missing'
    learn_data.loc[(learn_data[column_name].isna()) & ((learn_data['JOB_42'] == 8) | (learn_data['act_num'] == 2)), column_name] = 'Unemployed'
    #learn_data[column_name] = learn_data[column_name].fillna("Unemployed")

replace_na_with_category("emp_contract")
replace_na_with_category("TYPE_OF_CONTRACT")
replace_na_with_category("WORK_CONDITION")
replace_na_with_category("labor_force_status")
replace_na_with_category("Economic_sector_num")
replace_na_with_category("REG_JOB")
replace_na_with_category("REG_FORMER")
replace_na_with_category("work_description")
replace_na_with_category("retirement_age_cat")
#do last after imputing
#replace_na_with_category("Employer_category") #need numbers only
#replace_na_with_category("employee_count")

do one-hot-encoding for WORK_CONDITION, TYPE_OF_CONTRACT, labor_force_status
--should we just do one hot encoding for every vategorical var? even sex?

for all now numerical cats but with missing values, can do +1 and make fillna as 0

note: TACT2_3 doesn't exist in dataset - no under 14 year olds

In [638]:
learn_data['Employer_category'] = learn_data.apply(
    lambda row: 10 if pd.isna(row['Employer_category']) and (row['JOB_42'] == 8 or row['act_num'] == 2) #unemployed
    else (0 if pd.isna(row['Employer_category']) else row['Employer_category']), #employed and retired missing
    axis=1
)
learn_data['employee_count'] = learn_data.apply(
    lambda row: 7 if pd.isna(row['employee_count']) and (row['JOB_42'] == 8 or row['act_num'] == 2)
    else (0 if pd.isna(row['employee_count']) else row['employee_count']),
    axis=1
)

In [639]:
#learn_data.loc[learn_data['JOB_42'].str.startswith('csp_7', na=False), 'JOB_42'] = learn_data['FORMER_JOB_42']
# Replace values in 'JOB_42' with 'FORMER_JOB_42' where JOB_42 == 7
learn_data.loc[learn_data['JOB_42'] == 7, 'JOB_42'] = learn_data['FORMER_JOB_42']
learn_data.loc[(learn_data['emp_contract'] == 'Unemployed') & (learn_data['Pay'].isna()), 'Pay'] = 0
learn_data.loc[(learn_data['emp_contract'] == 'Unemployed') & (learn_data['WORKING_HOURS'].isna()), 'WORKING_HOURS'] = 0

learn_data = learn_data.drop(columns=["act", "former_emp_contract", "RETIREMENT_PAY", "retirement_age", "FORMER_JOB_42", "Economic_sector", "Code", "Libellé", "Nomenclature", "X", "Y"])
#or keep nomenclature, remove economic_sector_num
#remove INSEE_CODE?

# Handling Missing Data

In [643]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)  #% of missing values
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)  #create result table
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

print(missing_values_table(learn_data))

There are 2 columns that have missing values.
               Missing Values  % of Total Values
WORKING_HOURS            7345               14.7
Pay                      6961               13.9

In [645]:
learn_data.dtypes # pay should be int64 because always .0

target                     float64
PRIMARY_KEY                  int64
sex                          int64
JOB_42                       int64
studying                     int64
INSEE_CODE                  object
age_2020                     int64
HOUSEHOLD_TYPE               int64
act_num                      int64
HIGHEST_CREDENTIAL_num       int64
RESIDENTS                    int64
Lat                        float64
long                       float64
emp_contract              category
Pay                          Int64
REG_FORMER                category
Sports_Category              int64
Employer_category            int64
employee_count               int64
TYPE_OF_CONTRACT          category
WORK_CONDITION            category
labor_force_status        category
WORKING_HOURS                Int64
REG_JOB                   category
JOB_42_og                   object
Economic_sector_num       category
work_description          category
retirement_age_cat        category
dtype: object

## replace with mean

### for working hours

In [649]:
## for working hours, ignore the 0 values to not bias the mean
#factorise to impute then delete the factorised col

In [651]:
#avg_working_hours = learn_data.groupby("JOB_42")["WORKING_HOURS"].mean().round()
avg_working_hours = learn_data.loc[learn_data["WORKING_HOURS"] != 0].groupby("JOB_42_og")["WORKING_HOURS"].mean().round()

avg_working_hours

JOB_42_og
csp_3_1    1239.0
csp_3_3    1728.0
csp_3_4    1656.0
csp_3_5    1258.0
csp_3_7    1649.0
csp_3_8    1673.0
csp_4_2    1477.0
csp_4_3    1549.0
csp_4_4    1859.0
csp_4_5    1653.0
csp_4_6    1557.0
csp_4_7    1648.0
csp_4_8    1616.0
csp_5_2    1477.0
csp_5_3    1633.0
csp_5_4    1428.0
csp_5_5    1310.0
csp_5_6    1221.0
csp_6_2    1521.0
csp_6_3    1337.0
csp_6_4    1537.0
csp_6_5    1482.0
csp_6_7    1341.0
csp_6_8    1206.0
csp_6_9    1301.0
csp_7_4    1539.0
csp_7_5    1424.0
csp_7_7    1312.0
csp_7_8    1280.0
Name: WORKING_HOURS, dtype: Float64

In [653]:
#learn_data["WORKING_HOURS"] = learn_data.apply(
#    lambda row: avg_working_hours[row["JOB_42"]] if pd.isnull(row["WORKING_HOURS"]) else row["WORKING_HOURS"],
#    axis=1
#)

learn_data["WORKING_HOURS"] = learn_data.apply(
    lambda row: avg_working_hours.get(row["JOB_42_og"], np.nan) if pd.isnull(row["WORKING_HOURS"]) else row["WORKING_HOURS"],
    axis=1
)
learn_data

,target,PRIMARY_KEY,sex,JOB_42,studying,INSEE_CODE,age_2020,HOUSEHOLD_TYPE,act_num,HIGHEST_CREDENTIAL_num,...,employee_count,TYPE_OF_CONTRACT,WORK_CONDITION,labor_force_status,WORKING_HOURS,REG_JOB,JOB_42_og,Economic_sector_num,work_description,retirement_age_cat
0,9.367020,1,0,5,0,01004,34,3,1,10,...,1,CDI,C,O,1470.0,84,csp_5_4,7,5,Employed_Missing
1,8.648771,5,1,6,0,01004,80,7,3,6,...,1,CDI,C,O,793.0,44,csp_7_8,4,6,60
2,10.792503,7,0,3,0,01004,63,4,1,11,...,0,Employed_Missing,Employed_Missing,Employed_Missing,1239.0,Employed_Missing,csp_3_1,Employed_Missing,Employed_Missing,Employed_Missing
3,8.508222,8,1,3,0,01004,50,4,1,9,...,1,CDI,C,O,1201.0,11,csp_3_7,2,3,Employed_Missing
4,8.966272,10,0,5,0,01004,68,7,2,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_5_6,Unemployed,Unemployed,Unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,11.154438,100077,0,8,1,95680,29,5,6,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed
50039,9.962345,100078,0,4,0,95680,34,4,1,9,...,6,CDI,P,O,665.0,11,csp_4_3,9,4,Employed_Missing
50040,12.226288,100079,0,5,0,95680,29,6,1,8,...,4,CDI,C,O,3000.0,11,csp_5_2,9,5,Employed_Missing
50041,8.965529,100081,1,8,0,95680,57,3,7,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed
50042,11.928150,100082,1,6,0,95680,51,1,1,6,...,3,CDI,C,O,1796.0,11,csp_6_2,2,6,Employed_Missing

### for pay

In [656]:
avg_pay = learn_data.loc[learn_data["Pay"] != 0].groupby("JOB_42_og")["Pay"].mean()
avg_pay

JOB_42_og
csp_3_1      28607.9375
csp_3_3     36405.16955
csp_3_4    35958.044723
csp_3_5    29092.817308
csp_3_7    41752.871637
csp_3_8    41338.334173
csp_4_2    20698.882825
csp_4_3    23091.478704
csp_4_4         19375.0
csp_4_5    22239.081448
csp_4_6    25706.552411
csp_4_7    27873.100868
csp_4_8    28345.384804
csp_5_2     17022.07322
csp_5_3    18430.684343
csp_5_4    19050.509905
csp_5_5    14608.040992
csp_5_6    10638.242279
csp_6_2    20887.796974
csp_6_3    16098.589958
csp_6_4    18032.440208
csp_6_5    19320.407285
csp_6_7    15040.540305
csp_6_8    11910.141369
csp_6_9    14116.090909
csp_7_4    29029.940299
csp_7_5     21413.79526
csp_7_7    15494.445429
csp_7_8    17560.450934
Name: Pay, dtype: Float64

In [658]:
learn_data["Pay"] = learn_data.apply(
    lambda row: avg_working_hours.get(row["JOB_42_og"], np.nan) if pd.isnull(row["Pay"]) else row["Pay"],
    axis=1
)

learn_data

,target,PRIMARY_KEY,sex,JOB_42,studying,INSEE_CODE,age_2020,HOUSEHOLD_TYPE,act_num,HIGHEST_CREDENTIAL_num,...,employee_count,TYPE_OF_CONTRACT,WORK_CONDITION,labor_force_status,WORKING_HOURS,REG_JOB,JOB_42_og,Economic_sector_num,work_description,retirement_age_cat
0,9.367020,1,0,5,0,01004,34,3,1,10,...,1,CDI,C,O,1470.0,84,csp_5_4,7,5,Employed_Missing
1,8.648771,5,1,6,0,01004,80,7,3,6,...,1,CDI,C,O,793.0,44,csp_7_8,4,6,60
2,10.792503,7,0,3,0,01004,63,4,1,11,...,0,Employed_Missing,Employed_Missing,Employed_Missing,1239.0,Employed_Missing,csp_3_1,Employed_Missing,Employed_Missing,Employed_Missing
3,8.508222,8,1,3,0,01004,50,4,1,9,...,1,CDI,C,O,1201.0,11,csp_3_7,2,3,Employed_Missing
4,8.966272,10,0,5,0,01004,68,7,2,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_5_6,Unemployed,Unemployed,Unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,11.154438,100077,0,8,1,95680,29,5,6,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed
50039,9.962345,100078,0,4,0,95680,34,4,1,9,...,6,CDI,P,O,665.0,11,csp_4_3,9,4,Employed_Missing
50040,12.226288,100079,0,5,0,95680,29,6,1,8,...,4,CDI,C,O,3000.0,11,csp_5_2,9,5,Employed_Missing
50041,8.965529,100081,1,8,0,95680,57,3,7,6,...,7,Unemployed,Unemployed,Unemployed,0.0,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed
50042,11.928150,100082,1,6,0,95680,51,1,1,6,...,3,CDI,C,O,1796.0,11,csp_6_2,2,6,Employed_Missing

## IMPUTATION

### For employee_category (does this make sense for people that never worked i.e students ??)

In [662]:
#make all relevant (categorical) cols numerical
learn_data['employee_count_num'] = LabelEncoder().fit_transform(learn_data['employee_count'])
learn_data['Employer_category_num'] = LabelEncoder().fit_transform(learn_data['Employer_category'])
learn_data['retirement_age_cat_num'] = LabelEncoder().fit_transform(learn_data['retirement_age_cat'])
learn_data['REG_JOB_num'] = pd.factorize(learn_data['REG_JOB'])[0]
#learn_data['REG_JOB_num'] = LabelEncoder().fit_transform(learn_data['REG_JOB'])
#learn_data['retirement_age_cat_num'] = LabelEncoder().fit_transform(learn_data['retirement_age_cat'])
#learn_data['Employer_category_num']

In [664]:
learn_data['Employer_category_encoded'] = learn_data['Employer_category_num'].map(lambda x: np.nan if x==0 else x)
df_train_2 = learn_data.loc[:,["PRIMARY_KEY","Employer_category_encoded", "studying", "WORKING_HOURS", "age_2020", "Pay", "retirement_age_cat_num",
                             "Sports_Category", "REG_JOB_num"]]
df_train_2.head()

,PRIMARY_KEY,Employer_category_encoded,studying,WORKING_HOURS,age_2020,Pay,retirement_age_cat_num,Sports_Category,REG_JOB_num
0,1,9.0,0,1470.0,34,17011.0,6,1,0
1,5,9.0,0,793.0,80,17598.0,1,0,1
2,7,NaN,0,1239.0,63,1239.0,6,0,2
3,8,9.0,0,1201.0,50,57220.0,6,0,3
4,10,10.0,0,0.0,68,0.0,7,0,4

In [666]:
imputer = IterativeImputer(random_state=200)
imputer.fit(df_train_2)
df_imputed_2 = imputer.transform(df_train_2)
#knn_imputer = KNNImputer(n_neighbors=5, weights="uniform")
#knn_imputer.fit(df_train_2)
#df_imputed_2 = knn_imputer.transform(df_train_2)

In [667]:
learn_data.loc[:,"Employer_category_encoded"] = df_imputed_2[:,1].round().astype(int)
learn_data

#why float ?

,target,PRIMARY_KEY,sex,JOB_42,studying,INSEE_CODE,age_2020,HOUSEHOLD_TYPE,act_num,HIGHEST_CREDENTIAL_num,...,REG_JOB,JOB_42_og,Economic_sector_num,work_description,retirement_age_cat,employee_count_num,Employer_category_num,retirement_age_cat_num,REG_JOB_num,Employer_category_encoded
0,9.367020,1,0,5,0,01004,34,3,1,10,...,84,csp_5_4,7,5,Employed_Missing,1,9,6,0,9.0
1,8.648771,5,1,6,0,01004,80,7,3,6,...,44,csp_7_8,4,6,60,1,9,1,1,9.0
2,10.792503,7,0,3,0,01004,63,4,1,11,...,Employed_Missing,csp_3_1,Employed_Missing,Employed_Missing,Employed_Missing,0,0,6,2,9.0
3,8.508222,8,1,3,0,01004,50,4,1,9,...,11,csp_3_7,2,3,Employed_Missing,1,9,6,3,9.0
4,8.966272,10,0,5,0,01004,68,7,2,6,...,Unemployed,csp_5_6,Unemployed,Unemployed,Unemployed,7,10,7,4,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,11.154438,100077,0,8,1,95680,29,5,6,6,...,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed,7,10,7,4,10.0
50039,9.962345,100078,0,4,0,95680,34,4,1,9,...,11,csp_4_3,9,4,Employed_Missing,6,8,6,3,8.0
50040,12.226288,100079,0,5,0,95680,29,6,1,8,...,11,csp_5_2,9,5,Employed_Missing,4,8,6,3,8.0
50041,8.965529,100081,1,8,0,95680,57,3,7,6,...,Unemployed,csp_8_5,Unemployed,Unemployed,Unemployed,7,10,7,4,10.0
50042,11.928150,100082,1,6,0,95680,51,1,1,6,...,11,csp_6_2,2,6,Employed_Missing,3,9,6,3,9.0

### FOR employee_count

In [671]:
#no longer necessary? - employee count now numerical
#le = preprocessing.LabelEncoder()
#le.fit(learn_data.loc[:,"employee_count"])
#dict(zip(le.classes_, le.transform(le.classes_)))

In [673]:
#learn_data['employee_count_encoded'] = le.transform(learn_data['employee_count'])

In [675]:
learn_data['employee_count_encoded'] = learn_data['employee_count_num'].map(lambda x: np.nan if x==0 else x)

df_train_1 = learn_data.loc[:,["PRIMARY_KEY", "employee_count_encoded", "studying", "WORKING_HOURS", "age_2020", "Pay", "retirement_age_cat_num",
                             "Sports_Category", "REG_JOB_num", "Lat", "long"]]
df_train_1.head()

,PRIMARY_KEY,employee_count_encoded,studying,WORKING_HOURS,age_2020,Pay,retirement_age_cat_num,Sports_Category,REG_JOB_num,Lat,long
0,1,1.0,0,1470.0,34,17011.0,6,1,0,45.960848,5.372926
1,5,1.0,0,793.0,80,17598.0,1,0,1,45.960848,5.372926
2,7,NaN,0,1239.0,63,1239.0,6,0,2,45.960848,5.372926
3,8,1.0,0,1201.0,50,57220.0,6,0,3,45.960848,5.372926
4,10,7.0,0,0.0,68,0.0,7,0,4,45.960848,5.372926

In [677]:
imputer = IterativeImputer(random_state=100)
imputer.fit(df_train_1)
df_imputed_1 = imputer.transform(df_train_1)
#knn_imputer = KNNImputer(n_neighbors=5, weights="uniform")
#knn_imputer.fit(df_train)
#df_imputed = knn_imputer.transform(df_train)

In [678]:
learn_data.loc[:,"employee_count_encoded"] = df_imputed_1[:,1].round().astype(int)
#count_imputed = list(le.inverse_transform(learn_data['employee_count_encoded'].round().astype('int')))
#learn_data["employee_count_encoded"] = count_imputed

## checks

In [682]:
learn_data.dtypes

target                        float64
PRIMARY_KEY                     int64
sex                             int64
JOB_42                          int64
studying                        int64
INSEE_CODE                     object
age_2020                        int64
HOUSEHOLD_TYPE                  int64
act_num                         int64
HIGHEST_CREDENTIAL_num          int64
RESIDENTS                       int64
Lat                           float64
long                          float64
emp_contract                 category
Pay                           float64
REG_FORMER                   category
Sports_Category                 int64
Employer_category               int64
employee_count                  int64
TYPE_OF_CONTRACT             category
WORK_CONDITION               category
labor_force_status           category
WORKING_HOURS                 float64
REG_JOB                      category
JOB_42_og                      object
Economic_sector_num          category
work_description             category
retirement_age_cat           category
employee_count_num              int64
Employer_category_num           int64
retirement_age_cat_num          int64
REG_JOB_num                     int64
Employer_category_encoded     float64
employee_count_encoded        float64
dtype: object

In [684]:
learn_data.drop(["employee_count", "Employer_category", "RESIDENTS", "Lat", "long", "INSEE_CODE", "Employer_category_num", "employee_count_num", "retirement_age_cat_num", "REG_JOB_num", "JOB_42_og"], axis=1, inplace=True)

In [686]:
learn_data

,target,PRIMARY_KEY,sex,JOB_42,studying,age_2020,HOUSEHOLD_TYPE,act_num,HIGHEST_CREDENTIAL_num,emp_contract,...,TYPE_OF_CONTRACT,WORK_CONDITION,labor_force_status,WORKING_HOURS,REG_JOB,Economic_sector_num,work_description,retirement_age_cat,Employer_category_encoded,employee_count_encoded
0,9.367020,1,0,5,0,34,3,1,10,EMP1-6,...,CDI,C,O,1470.0,84,7,5,Employed_Missing,9.0,1.0
1,8.648771,5,1,6,0,80,7,3,6,EMP1-6,...,CDI,C,O,793.0,44,4,6,60,9.0,1.0
2,10.792503,7,0,3,0,63,4,1,11,EMP2-2,...,Employed_Missing,Employed_Missing,Employed_Missing,1239.0,Employed_Missing,Employed_Missing,Employed_Missing,Employed_Missing,9.0,4.0
3,8.508222,8,1,3,0,50,4,1,9,EMP1-6,...,CDI,C,O,1201.0,11,2,3,Employed_Missing,9.0,1.0
4,8.966272,10,0,5,0,68,7,2,6,Unemployed,...,Unemployed,Unemployed,Unemployed,0.0,Unemployed,Unemployed,Unemployed,Unemployed,10.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,11.154438,100077,0,8,1,29,5,6,6,Unemployed,...,Unemployed,Unemployed,Unemployed,0.0,Unemployed,Unemployed,Unemployed,Unemployed,10.0,7.0
50039,9.962345,100078,0,4,0,34,4,1,9,EMP1-6,...,CDI,P,O,665.0,11,9,4,Employed_Missing,8.0,6.0
50040,12.226288,100079,0,5,0,29,6,1,8,EMP1-6,...,CDI,C,O,3000.0,11,9,5,Employed_Missing,8.0,4.0
50041,8.965529,100081,1,8,0,57,3,7,6,Unemployed,...,Unemployed,Unemployed,Unemployed,0.0,Unemployed,Unemployed,Unemployed,Unemployed,10.0,7.0
50042,11.928150,100082,1,6,0,51,1,1,6,EMP1-6,...,CDI,C,O,1796.0,11,2,6,Employed_Missing,9.0,3.0

In [688]:
print(learn_data['Employer_category_encoded'].value_counts())
#added a value to retired_missing????

Employer_category_encoded
9.0     23958
10.0    12805
8.0      9265
2.0       866
7.0       817
1.0       754
3.0       639
6.0       486
5.0       316
4.0       137
Name: count, dtype: int64

In [694]:
#print(learn_data['Employer_category'].value_counts())

In [696]:
#comparison = learn_data[['Employer_category', 'Employer_category_num']].drop_duplicates()
#print(comparison)

In [702]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)  #% of missing values
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)  #create result table
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

print(missing_values_table(learn_data))

There are 2 columns that have missing values.
               Missing Values  % of Total Values
Pay                      3633                7.3
WORKING_HOURS            3633                7.3

# Prediction start

In [705]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, root_mean_squared_error
from sklearn.model_selection import train_test_split, ShuffleSplit, KFold, cross_val_score, GridSearchCV

In [709]:
learn_data["sex"] = learn_data["sex"].astype('category')
learn_data["JOB_42"] = learn_data["JOB_42"].astype('category')
learn_data["Sports_Category"] = learn_data["Sports_Category"].astype('category')
learn_data["studying"] = learn_data["studying"].astype('category')
learn_data["act_num"] = learn_data["act_num"].astype('category')
learn_data["HOUSEHOLD_TYPE"] = learn_data["HOUSEHOLD_TYPE"].astype('category')
learn_data["act_num"] = learn_data["act_num"].astype('category')
learn_data["Employer_category_encoded"] = learn_data["Employer_category_encoded"].astype('category')
learn_data["employee_count_encoded"] = learn_data["employee_count_encoded"].astype('category')

In [711]:
learn_data.dtypes

target                        float64
PRIMARY_KEY                     int64
sex                          category
JOB_42                       category
studying                     category
age_2020                        int64
HOUSEHOLD_TYPE               category
act_num                      category
HIGHEST_CREDENTIAL_num          int64
emp_contract                 category
Pay                           float64
REG_FORMER                   category
Sports_Category              category
TYPE_OF_CONTRACT             category
WORK_CONDITION               category
labor_force_status           category
WORKING_HOURS                 float64
REG_JOB                      category
Economic_sector_num          category
work_description             category
retirement_age_cat           category
Employer_category_encoded    category
employee_count_encoded       category
dtype: object

In [713]:
learn = learn_data
learn = pd.get_dummies(ML)